{% extends "layout.html" %}
{% block content %}

<form action="/homes/new" method="post">
    <div class="row">
        <div class="col">
            <label for="Sell">Sell Price</label>
            <input id="Sell" type="text" class="form-control" placeholder="Sell Price" name="Sell" value="">
        </div>
        <div class="col">
            <label for="List">List Price</label>
            <input id="List" type="text" class="form-control" placeholder="List Price" name="List" value="">
        </div>
        <div class="col">
            <label for="Living">Living Space</label>
            <input id="Living" type="text" class="form-control" placeholder="Living Space" name="Living">
        </div>
        <div class="col">
            <label for="Rooms">Rooms Space</label>
            <input id="Rooms" type="text" class="form-control" placeholder="Room Space" name="Rooms" value="">
        </div>
    </div>

    <div class="row">
        <div class="col">
            <label for="Beds">Bedrooms</label>
            <input id="Beds" type="text" class="form-control" placeholder="Bedrooms" name="Beds" value="">
        </div>
        <div class="col">
            <label for="Baths">Bathrooms</label>
            <input id="Baths" type="text" class="form-control" placeholder="Bathrooms" name="Baths" value="">
        </div>
    </div>
    <div class="row">
        <div class="col">
            <label for="Age">Home Age</label>
            <input id="Age" type="text" class="form-control" placeholder="Home Age" name="Age" value="">
        </div>
        <div class="col">
            <label for="Acres">Property Acres</label>
            <input id="Acres" type="text" class="form-control" placeholder="Property Acres" name="Acres" value="">
        </div>
        <div class="col">
            <label for="Taxes">Property Taxes</label>
            <input id="Taxes" type="text" class="form-control" placeholder="Property Taxes" name="Taxes" value="">
        </div>
    </div>
    <button type="submit" class="btn btn-success">Create</button>

</form>

{% endblock %}